POSTGRES_DB=foodgram
POSTGRES_USER=foodgram
POSTGRES_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,backend,158-160-159-158.nip.io
CSRF_TRUSTED_ORIGINS=http://localhost,https://localhost,https://158-160-159-158.nip.io
DOMAIN=158-160-159-158.nip.io
BACKEND_IMAGE=foodgram-backend:latest
